<div class="viewPost">
  <img src="/images/{{post.picturePath}}" class="postview-image" alt="">
  <div>
  <p class="viewpost-text">Name: <span>{{post.title}}</span></p>
  <p class="viewpost-text">Damage: <span>{{post.damage}}</span></p>
  <p class="viewpost-text">Cost: <span>{{post.cost}}</span></p>
  <p class="viewpost-text">City: <span>{{post.city}}</span></p>
  {{#if user}}
    {{#if isSame}}
  <a href="{{post.id}}/edit">
  <button class="btn btn-warning">Edit</button>
  </a>
  <button class="btn btn-warning delete-button"  id ={{post.id}}>Delete</button>
    {{else}}
      <form action="/cart/{{post.id}}" method="post" >
        <button type="submit" class="btn btn-warning">Add to cart</button>
      </form>
    {{/if}}
  {{else}}
    <a href="/signup"><button class="btn btn-warning">Sign up</button></a>
  {{/if}}
  </div>
</div>
